
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    color: #555;
    background-color: #fff;
    scroll-behavior: smooth;
}

:target {
    animation: attention 5s;
}

@keyframes attention {
    from {
        background-color: #fc3;
    }
    to {
        background-color: initial;
    }
}

.aside-box ul {
    padding-left: 5em;
}

code,
pre {
    font-family: 'Overpass Mono', 'SF Mono', monospace;
    color: #333;
}

pre.code {
    padding: 10px;
    margin: 5px auto;
    width: 90%;
    border: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}

.banner {
    width: 100%;
    background: #ff416c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    padding: 20px;
    padding-top: 100px;
    color: rgba(255, 255, 255, 0.95) !important;
    margin-bottom: 50px;
}

a {
    color: #ff416c;
    text-decoration: none;
    background-image: linear-gradient(to right, #ff416c, #ff4b2b);
    background-size: 100% 10%;
    background-repeat: no-repeat;
    background-position: bottom center;
    transition: background-size 300ms;
    padding: 0 3px;
    cursor: pointer;
}

a[target=_blank] {
    color: #004e92;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 10%;
    background-repeat: no-repeat;
    background-position: bottom center;
    transition: background-size 300ms;
}

a:hover,
a:hover code {
    color: rgba(255, 255, 255, 0.95) !important;
    background-size: 100% 100%;
    transition: background-size 300ms;
}

p {
    padding-bottom: 10px;
}

.site-title {
    font-size: 1.2rem;
}

.spec-subject {
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
}

.spec-section {
    margin: 25px auto;
    width: 75%;
}

.spec-section>header {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.spec-section p {
    text-indent: 2rem;
}

.method-list {
    padding-left: 40px;
    list-style-type: none;
}

.method-item {
    display: block;
    margin: 10px auto;
}

.method {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
}

.method>header {
    padding: 5px 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
}

.method>header small {
    margin-left: 1rem;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
}

.method>p {
    margin: 10px 10px 0;
}

.aside-box {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    padding-top: 25px;

}

.aside-box>header {
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 10px;
    transform: translateY(-50%);

}

.warning {
    border-top: 1px solid #fca;
    border-bottom: 1px solid #fca;
    background-color: rgba(255, 204, 170, 0.25);
}

.warning>header {
    background-color: #fa5;
    color: #fff;
}

.info {
    border-top: 1px solid #3af;
    border-bottom: 1px solid #3af;
    background-color: rgba(51, 170, 255, 0.15);
}

.info>header {
    background-color: #3af;
    color: #fff;
}

.kw {
    color: #95f;
}

.var {
    color: #339;
}

.class {
    color: #3af;
}

.returns {
    color: #ff416c;
}

.val {
    color: hsl(0, 90%, 58%);
}

.params {
    color: #ff4b2b;
}

.param-list {
    padding-left: 70px;
}

.param-list dt code,
.param-list dt {
    color: #339;
}

.param-list dd {
    padding-left: 2rem;
}
.breadcrumbs {
    margin: auto;
    width: 75%;
}

.breadcrumbs ul {
    list-style-type: none;
}

.breadcrumbs,
.breadcrumbs ul {
    display: flex;
    overflow: hidden;
}

.breadcrumb {
    background-color: #ffcfda;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.3;
    position: relative;
    background-image: linear-gradient(to right, hsl(346, 100%, 73%), hsl(346, 100%, 90%));
}

.breadcrumb:not(:first-child) a {
    padding-left: 1.25rem;
}

.breadcrumb:first-child {
    border-left: 1px solid #ff416c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.breadcrumb:last-child {
    border: none;
    background-image: linear-gradient(to right, hsl(346, 100%, 63%), hsl(346, 100%, 100%));
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

.breadcrumb::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid hsl(346, 100%, 90%);
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    z-index: 1;
}

.breadcrumb a {
    all: unset;
    display: block;
    cursor: pointer;
    padding: 5px;
    white-space: nowrap;
    transition: color 300ms;
}

.breadcrumb a:hover {
    color: #000;
    transition: color 300ms;
}

.nav {
    position: fixed;
    height: 50px;
    display: flex;
    width: 100%;
    z-index: 9999;
    background: #ff416c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul:first-child {
    flex: 1;
}

.nav a {
    all: unset;
    cursor: pointer;
    font-size: 1.15rem;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: 0% .15rem;
    background-position: bottom center;
    transition: background-size 300ms;
}

.nav a:hover {
    background-size: 100% 0.15rem;
    transition: background-size 300ms;
}

.padding-fix {
    display: block;
    height: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards-container .card {
    flex: 1;
    margin: 10px;
    min-width: 300px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.card-image {
    height: 150px;
    width: 100%;
    flex: none;
}

.card-image.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img,
.card-image svg {
    height: 90%;
}

.card__body {
    padding: 20px;
    background-color: #eee;
    flex: 1;
}

.text-icon {
    width: 1rem;
    height: 1rem;
}

.figures {
    display: flex;
}

.figures .figure {
    margin: 5px 10px;
}

.figure {
    flex: 1;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.figure img {
    width: 100%;
    flex: 2;
}

.figure figcaption {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding: 10px;
    flex: 1;
}
