
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
}

html {
    font-size: 16px;
    --bg: #fff;
    --bg-accent: #fafafa;
    --bg-accent-darker: #eee;
    --bg-accent-darkest: #ccc;
    --link-color: #ff2e60;
    --link-color-opacified: #FFcfda;
    --text-darker: #333;
    --text-standard: #555;
    --text-oncolor: rgba(255, 255, 255, 0.75);
    --warning-light: #FFF2EA;
    --warning-dark: #fca;
}

html.dark {
    --bg: #0e3a40;
    --bg-accent: #165C66;
    --bg-accent-darker: #135159;
    --bg-accent-darkest: #0B2E33;
    --text-standard: #eee;
    --link-color: #FF7899;
    --link-color-opacified: #FF5981;
    --link-ext-color: ;
    --text-oncolor: var(--text-standard);
    --text-darker: #fff;
    --warning-light: #99844E;
    --warning-dark: #FF9A5C;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    color: var(--text-standard);
    background-color: var(--bg);
    scroll-behavior: smooth;
}

:target {
    animation: attention 5s;
}

@keyframes attention {
    from {
        background-color: #fc3;
    }
    to {
        background-color: initial;
    }
}

.aside-box ul {
    padding-left: 5em;
}

code,
pre {
    font-family: 'Overpass Mono', 'SF Mono', monospace;
    color: var(--text-darker);
}

pre.code {
    padding: 10px;
    margin: 5px auto;
    width: 90%;
    border: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}

.banner {
    width: 100%;
    background: #ff416c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001825, #011C2C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001825, #011C2C);
    padding: 20px;
    padding-top: 100px;
    color: rgba(255, 255, 255, 0.95) !important;
    margin-bottom: 50px;
}

a {
    color: var(--link-color);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    background-image: linear-gradient(to bottom,var(--link-color), var(--link-color));
    background-size: 100% 10%;
    background-repeat: no-repeat;
    background-position: bottom center;
    transition: background-size 300ms;
    padding: 0 3px;
    cursor: pointer;
}

a[target=_blank] {
    color: var(--link-color-opacified);
    /* background: #000428; */
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to bottom,var(--link-color), var(--link-color));
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to bottom,var(--link-color), var(--link-color));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 10%;
    background-repeat: no-repeat;
    background-position: bottom center;
    transition: background-size 300ms;
    position: relative;
    padding-right: 1.5rem;
}

a[target=_blank]::before {
    content: '';
    position: absolute;
    right: 0;
    border-top: 3px solid var(--link-color-opacified);
    border-right: 3px solid var(--link-color-opacified);
    height: .5rem;
    width: .5rem;
}

a[target=_blank]::after {
    content: '';
    position: absolute;
    top: -2px;
    right: 5px;
    width: 3px;
    height: 1rem;
    margin-left: 5px;
    background: var(--link-color-opacified);
    border-radius: 3px;
    transform: rotate(45deg);
}

a[target=_blank]:hover,
a[target=_blank]:hover * {
    color: rgba(255, 255, 255, 0.95) !important;
}

a[target=_blank]:hover::before {
    border-color: var(--text-standard);
}

a[target=_blank]:hover::after {
    border-top: 3px solid var(--text-standard);
    border-right: 3px solid var(--text-standard);
}

a:hover,
a:hover code {
    color: rgba(255, 255, 255, 0.95) !important;
    background-size: 100% 100%;
    transition: background-size 300ms;
}

p {
    padding-bottom: 10px;
}

.site-title {
    font-size: 1.2rem;
}

.spec-subject {
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
}

.spec-section {
    margin: 25px auto;
    width: 75%;
}

.spec-section>header {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.spec-section p {
    text-indent: 2rem;
}

.method-list {
    padding-left: 40px;
    list-style-type: none;
}

.method-item {
    display: block;
    margin: 10px auto;
}

.method {
    border-radius: 5px;
    border: 1px solid var(--bg-accent-darkest);
    background-color: var(--bg);
    overflow: hidden;
}

html.dark .method {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.method>header {
    padding: 5px 10px;
    background-color: var(--bg-accent);
    border-bottom: 1px solid var(--bg-accent-darkest);
}

.method>header small {
    margin-left: 1rem;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
}

.method>p {
    margin: 10px 10px 0;
}

.aside-box {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    padding-top: 25px;

}

.aside-box>header {
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    font-weight: bold;
    top: 0;
    left: 10px;
    transform: translateY(-50%);

}

.warning {
    border-top: 1px solid var(--warning-dark);
    border-bottom: 1px solid var(--warning-dark);
    background-color: var(--warning-light);
}

.warning>header {
    background-color: #fa5;
    color: #fff;
}

.info {
    border-top: 1px solid #3af;
    border-bottom: 1px solid #3af;
    background-color: rgba(51, 170, 255, 0.15);
}

.info>header {
    background-color: #3af;
    color: #fff;
}

.kw {
    color: #95f;
}

.var {
    color: #7C7CD6;
}

.class {
    color: #3af;
}

.returns {
    color: #ff416c;
}

.val {
    color: hsl(0, 90%, 58%);
}

.params {
    color: #ff4b2b;
}

.param-list {
    padding-left: 70px;
}

.param-list dt code,
.param-list dt {
    color: #7C7CD6;
}

.param-list dd {
    padding-left: 2rem;
}
.breadcrumbs {
    margin: auto;
    width: 75%;
}

.breadcrumbs ul {
    list-style-type: none;
}

.breadcrumbs,
.breadcrumbs ul {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}

.breadcrumb {
    /* background-color: #ffcfda; */
    color: var(--text-oncolor);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    line-height: 1.3;
    position: relative;
    background-image: linear-gradient(to right, var(--link-color), var(--link-color-opacified));
}

.breadcrumb:not(:first-child) a {
    padding-left: 1.25rem;
}

.breadcrumb:first-child {
    border-left: 1px solid #ff416c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.breadcrumb:last-child {
    border: none;
    background-image: linear-gradient(to right, var(--link-color), hsla(346, 100%, 100%, 0));
    padding-right: 10px;
    font-weight: bold;
}

html.dark .breadcrumb:last-child {
    background-image: linear-gradient(to right, var(--link-color), hsla(345, 87%, 100%, 0.2));
}

.breadcrumb::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid var(--link-color-opacified);
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    z-index: 1;
}

.breadcrumb a {
    all: unset;
    display: block;
    cursor: pointer;
    padding: 5px;
    white-space: nowrap;
    transition: color 300ms;
}

.breadcrumb a:hover {
    color: #000;
    transition: color 300ms;
}

.nav {
    position: fixed;
    height: 50px;
    display: flex;
    width: 100%;
    z-index: 9999;
    background: #ff416c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#001825, #011C2C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001825, #011C2C);
    color: #fff;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul:first-child {
    flex: 1;
}

.nav a {
    all: unset;
    cursor: pointer;
    font-size: 1.15rem;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-image: linear-gradient(var(--link-color), var(--link-color));
    background-repeat: no-repeat;
    background-size: 0% .15rem;
    background-position: bottom center;
    transition: background-size 300ms;
}

.nav a:hover {
    background-size: 100% 0.15rem;
    transition: background-size 300ms;
}

.padding-fix {
    display: block;
    height: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards-container .card {
    flex: 1;
    margin: 10px;
    min-width: 300px;
}

.card {
    background-color: var(--bg-accent);
    border: 1px solid var(--bg-accent-darkest);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.card-image {
    height: 150px;
    width: 100%;
    flex: none;
}

.card-image.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img,
.card-image svg {
    height: 90%;
}

.card__body {
    padding: 20px;
    background-color: var(--bg-accent-darker);
    flex: 1;
}

.text-icon {
    width: 1rem;
    height: 1rem;
}

.figures {
    display: flex;
}

.figures .figure {
    margin: 5px 10px;
}

.figure {
    flex: 1;
    border: 1px solid var(--bg-accent-darkest);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--bg-accent);
}

.figure img {
    width: 100%;
    flex: 2;
}

.figure figcaption {
    background-color: var(--bg-accent-darker);
    border-top: 1px solid var(--bg-accent-darkest);
    padding: 10px;
    flex: 1;
}

a.dark-toggle svg {
    height: 1rem;
    display: none;
    fill: var(--text-oncolor);
    stroke: var(--text-oncolor);
}

html.dark a.dark-toggle svg.dark,
html:not(.dark) a.dark-toggle svg.light {
    display: block !important;
}